@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap'); 
.btn-primary
{
   background-color: rgb(17, 93, 95);
   border-radius: 10px;
   font-weight: bold;
}
.btn-primary:hover
{
   background-color: rgb(9, 40, 41);
   cursor: pointer;
}
.heading-text
{
    font-weight: bolder;
    font-size: 40px;
    margin-top: 3%;
    color: darkgreen;
    font-family: 'Roboto';
    letter-spacing: 1px;
    margin-left: 42%;
}